<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <% result.forEach(element=>{ %>

    <form action="<% result.id %>?_method=PUT" method="POST">
        <input hidden type="text" name="name" value="<%= element.name %>" >
        <input hidden type="text" name="image" value="<%=element.image=>" >
        <input hidden type="text" name="level" value="<%=element.level=>" >
        <button type="submit">Update </button>
        
        
        </form>

        <form action="<% result.id %>?_method=DELETE" method="POST">
            <input hidden type="text" name="name" value="<%= element.name %>" >
            <input hidden type="text" name="image" value="<%=element.image=>" >
            <input hidden type="text" name="level" value="<%=element.level=>" >
            <button type="submit">DELETE </button>
            
            
            </form>



        <%})%>

</body>
</html>